/ app/views/accounts/new.html.haml
%div
  = form_for @account, validate: true, data: { remote: true }, html: { class: 'ui form' } do |f|
    %h2.ui.dividing.header
      = t( 'views.accounts.add' )
    = render partial: 'customers/accounts/shared/form', locals: { account: @account, f: f }
    = f.submit t( 'views.global.create' ),  data: { disable_with: t( 'views.global.wait' ) }, class: 'ui button green'
    = link_to t( 'views.global.cancel' ), accounts_path, class: 'ui button', data: { remote: true, push: true, target: '#main' }
/ END app/views/accounts/new.html.haml
